{% extends 'base.html' %} 
{% block title %} Cart - {% endblock %} 
{% block content %} {% comment %} grow container with appropriate
padding and width {% endcomment %}
<div class="my-10 mx-auto w-full md:container grow">
  <section class="bg-gray-100">
    <div class="container mx-auto px-4">
      <div class="p-8  lg:p-14 bg-white">
        <h2 class="mb-16 text-5xl font-semibold text-slate-700 font-heading ">Your cart</h2>
        <div class="flex flex-wrap  items-stretch -mx-4">
          <div class="w-full xl:w-8/12 mb-8 xl:mb-0 px-4">
            <div class="hidden lg:flex w-full">
              <div class="w-full lg:w-3/6">
                <h4 class="mb-6 font-bold font-heading text-blue-grey-500">
                  Description
                </h4>
              </div>
              <div class="w-full lg:w-1/6">
                <h4 class="mb-6 font-bold font-heading text-blue-grey-500">Price</h4>
              </div>
              <div class="w-full lg:w-1/6 text-center">
                <h4 class="mb-6 font-bold font-heading text-blue-grey-500">
                  Quantity
                </h4>
              </div>
              <div class="w-full lg:w-1/6 text-right">
                <h4 class="mb-6 font-bold font-heading text-blue-grey-500">
                  Subtotal
                </h4>
              </div>
              
            </div>
            <div class="mb-12 py-6 border-t border-b border-gray-200">
              {% comment %} card start!!! {% endcomment %}
              {% for item in cart %}
              {% with product=item.product %}
              {% comment %} {{product.name}} {% endcomment %}
              {% comment %} {{item}} {% endcomment %}
              {% comment %} {{item.product.productimage_set.all.0.url}} {% endcomment %}
              {% comment %} {{product.id}} {% endcomment %}
              <div class="flex flex-wrap items-center justify-center md:justify-start -mx-4 mb-6 md:mb-3">
                <div class="w-full md:w-4/6 lg:w-6/12 px-4 mb-6 md:mb-0">
                  <div class="flex -mx-4 flex-wrap items-center">
                    <div class="w-full md:w-1/3 px-4 mb-3">
                      <div
                        class="flex items-center justify-center w-full md:w-24 h-32 bg-gray-100"
                      >
                        <img
                          class="h-full object-cover"
                          src="{{MEDIA_URL}}{{product.productimage_set.all.0.url}}"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="w-2/3 px-4">
                      <a href="{{product.get_absolute_url}}">
                        <h3 class="mb-2 text-xl text-slate-700 font-bold font-heading">
                        {{product.name}}
                        </h3>
                      </a>
                      <a href="{{product.category.get_absolute_url}}">
                        <p class="text-slate-500">{{product.category}}</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="hidden lg:block lg:w-2/12 px-2">
                  <p class="text-lg text-cyan-600 font-bold font-heading">
                    ${{item.price}}
                  </p>
                  {% comment %} <span class="text-xs text-gray-500 line-through">$33.69</span> {% endcomment %}
                </div>
                <div class="w-auto md:w-1/6 lg:w-2/12 px-1">
                  <div
                    class="inline-flex items-center px-0 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md"
                  >
                    <button class="px-2 py-6 hover:text-gray-900">
                      <svg
                        width="12"
                        height="2"
                        viewBox="0 0 12 2"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g opacity="0.35">
                          <rect
                            x="12"
                            width="2"
                            height="12"
                            transform="rotate(90 12 0)"
                            fill="currentColor"
                          ></rect>
                        </g>
                      </svg>
                    </button>
                    <input id="qty-value-{{product.id}}"
                      class="qty-value-summary w-14 m-0 px-2 py-4 text-center  border-0 focus:ring-transparent focus:outline-none rounded-md"
                      type="number"
                      min="1"
                      placeholder="{{item.quantity}}"
                      value="{{item.quantity}}"
                      
                    />
                    <button class="px-2 py-5 hover:text-gray-900">
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 12 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g opacity="0.35">
                          <rect
                            x="5"
                            width="2"
                            height="12"
                            fill="currentColor"
                          ></rect>
                          <rect
                            x="12"
                            y="5"
                            width="2"
                            height="12"
                            transform="rotate(90 12 5)"
                            fill="currentColor"
                          ></rect>
                        </g>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="w-auto md:w-1/6 lg:w-2/12 px-2 lg:pl-4 text-right">
                  <p class="text-lg text-cyan-600 font-bold font-heading">
                    ${{item.total_price}}
                  </p>
                </div>
                <div class="flex justify-center md:justify-start py-4 md:py-2 w-full md:w-1/3 px-0">
                  <button id="delete-button" data-index="{{product.id}}" value={{product.id}} type="button" class="delete-button inline-block mr-2 px-7 py-3 text-white font-bold font-heading uppercase bg-red-600 hover:bg-red-700 rounded-md" href="#">Remove
                    
                  </button>
                  <button id="update-button" data-index="{{product.id}}" value={{product.id}} type="button" class="update-button inline-block ml-2 px-7 py-3 text-white font-bold font-heading uppercase bg-cyan-600 hover:bg-cyan-700 rounded-md" href="#">Update
                    
                  </button>
                </div>
              </div>
              {% endwith %}
              {% endfor %}
              {% comment %} end of cart items {% endcomment %}
            </div>
            {% comment %} end of cart item container  {% endcomment %}
            {% comment %} <div class="flex flex-wrap items-center lg:-mb-4">
              <span class="mr-12 mb-4 font-medium">Apply discount code:</span>
              <input
                class="flex-1 md:flex-none mr-6 sm:mr-0 md:mr-6 mb-4 px-8 py-4 placeholder-gray-800 font-bold font-heading border rounded-md"
                type="text"
                placeholder="SUMMER30X"
              />
              <a
                class="flex-1 md:flex-none inline-block mb-4 px-8 py-4 text-center text-white font-bold font-heading uppercase bg-gray-800 hover:bg-gray-700 rounded-md"
                href="#"
                >Apply</a
              >
            </div> {% endcomment %}
          </div>
          <div class="w-full xl:w-4/12 px-4 flex flex-col justify-center ">
            <div class="flex flex-col justify-center  p-6 md:p-12  h-full  bg-slate-700 ">
              <h2 class="mb-6 text-4xl font-bold font-heading text-white">
                Cart totals
              </h2>
              <div
                class="flex mb-8 items-center justify-between pb-5 border-b border-blue-100"
              >
                <span class="text-blue-50">Subtotal</span>
                <span class="text-xl font-bold font-heading text-white"
                  >$ {{cart.get_total_price}}</span
                >
              </div>
              <h4 class="mb-2 text-xl font-bold font-heading text-white">
                Shipping
              </h4>
              <div class="flex mb-2 justify-between items-center">
                <span class="text-blue-50">Next day</span>
                <span class="text-xl font-bold font-heading text-white"
                  >$ 11.00</span
                >
              </div>
              <div class="flex mb-10 justify-between items-center">
                <span class="text-blue-50">Shipping to United States</span>
                <span class="text-xl font-bold font-heading text-white">-</span>
              </div>
              <div class="flex mb-10 justify-between items-center">
                <span class="text-xl font-bold font-heading text-white"
                  >Order total</span
                >
                <span class="text-xl font-bold font-heading text-white"
                  >$ {{cart.get_order_total}}</span
                >
              </div>
              <a
                class="block w-full py-4 bg-lime-900 hover:bg-lime-800 text-center text-white font-bold font-heading uppercase rounded-md transition duration-200"
                href="#"
                >Go to Checkout</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $(document).on('click', '.delete-button', function(e){
    console.log($(this).data('index'))
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "main_app_cart:cart_delete" %}',
      data:{
        productid: $(this).data('index'),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: 'delete',
      },
      success: function(json){
        window.location.reload();
      },
      error: function(xhr, errmsg, err){
        console.log(err)
        console.log(errmsg)
        console.log(xhr.status + ": " + xhr.responseText);
      }
    })
  })
 
  $(document).on('click', '.update-button', function(e){
    console.log($(`#qty-value-${$(this).data('index')}`).val())
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: '{% url "main_app_cart:cart_update" %}',
      data:{
        productid: $(this).data('index'),
        productqty: $(`#qty-value-${$(this).data('index')}`).val(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: 'update',
      },
      success: function(json){
        window.location.reload();
      },
      error: function(xhr, errmsg, err){
        console.log(err)
        console.log(errmsg)
        console.log(xhr.status + ": " + xhr.responseText);
      }
    })
  })
  
  


  
</script>

{% endblock %}
