<div
  class="product-block layout-align-above flex column max-cols-4 min-cols-2 product-block--gutter-20 product-block--gap-20 product-block--border-false product-block--no-quickbuy"
  id="template--14472059060289__1590506747837_6636951044161"
>
  <div class="product-block__inner">
    <div
      class="image image--shape-1 image--with-secondary"
      style="min-height: 294.75px"
    >
      <div class="inner">
        <a
          href="/products/c-equalz-x-tkc-tangerine-linear-switches"
          aria-label="C³Equalz X TKC Tangerine Linear Switches"
        >
          <div class="image__primary">
            <div class="rimage-outer-wrapper" style="max-width: 1200px">
              <div class="rimage-wrapper" style="padding-top: 100%">
                <img
                  class="rimage__image"
                  data-lazy-src="//cdn.shopify.com/s/files/1/0275/3649/0561/products/c3equalz-x-tkc-tangerine-linear-switches-145416_{width}x.jpg?v=1634691412"
                  loading="lazy"
                  alt="C³Equalz X TKC Tangerine Linear Switches - Divinikey"
                  src="//cdn.shopify.com/s/files/1/0275/3649/0561/products/c3equalz-x-tkc-tangerine-linear-switches-145416_300x.jpg?v=1634691412"
                  data-lazy-loaded="true"
                  width="1200"
                  height="1200"
                />

                <noscript>
                  <img
                    src="//cdn.shopify.com/s/files/1/0275/3649/0561/products/c3equalz-x-tkc-tangerine-linear-switches-145416_1024x1024.jpg?v=1634691412"
                    alt="C³Equalz X TKC Tangerine Linear Switches - Divinikey"
                    class="rimage__image"
                  />
                </noscript>
              </div>
            </div>
          </div>

          <div class="image__secondary">
            <div
              class="rimage-outer-wrapper rimage-background"
              data-lazy-bg="//cdn.shopify.com/s/files/1/0275/3649/0561/products/c3equalz-x-tkc-tangerine-linear-switches-806587_{width}x.jpg?v=1634691412"
              data-parent-fit="cover"
              style="
                background-image: url('//cdn.shopify.com/s/files/1/0275/3649/0561/products/c3equalz-x-tkc-tangerine-linear-switches-806587_300x.jpg?v=1634691412');
              "
              data-lazy-loaded="true"
            >
              <noscript>
                <div class="rimage-wrapper" style="padding-top: 100%">
                  <img
                    src="//cdn.shopify.com/s/files/1/0275/3649/0561/products/c3equalz-x-tkc-tangerine-linear-switches-806587_1024x1024.jpg?v=1634691412"
                    alt="C³Equalz X TKC Tangerine Linear Switches - Divinikey"
                    class="rimage__image"
                  />
                </div>
              </noscript>
            </div>
          </div>
        </a>

        <a
          class="quick-buy round-button pos-bottomcorner"
          href="/products/c-equalz-x-tkc-tangerine-linear-switches"
          data-product-id="6636951044161"
        >
          <span aria-label="Quick buy">
            <svg
              width="19px"
              height="21px"
              viewBox="0 0 19 21"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g stroke="currentColor" stroke-width="0.5">
                <g transform="translate(0.000000, 0.472222)">
                  <path
                    d="M14.3977778,14.0103889 L19,19.0422222 L17.8135556,20.0555556 L13.224,15.0385 C11.8019062,16.0671405 10.0908414,16.619514 8.33572222,16.6165556 C3.73244444,16.6165556 0,12.8967778 0,8.30722222 C0,3.71766667 3.73244444,0 8.33572222,0 C12.939,0 16.6714444,3.71977778 16.6714444,8.30722222 C16.6739657,10.4296993 15.859848,12.4717967 14.3977778,14.0103889 Z M8.33572222,15.0585556 C12.0766111,15.0585556 15.1081667,12.0365 15.1081667,8.30827778 C15.1081667,4.58005556 12.0766111,1.558 8.33572222,1.558 C4.59483333,1.558 1.56327778,4.58005556 1.56327778,8.30827778 C1.56327778,12.0365 4.59483333,15.0585556 8.33572222,15.0585556 Z"
                  ></path>
                </g>
              </g>
            </svg>
          </span>
        </a>

        <script
          type="text/template"
          class="quickbuy-placeholder-template"
          data-product-id="6636951044161"
        >
          <div class="quickbuy-form placeholder">
            <span class="loading-spinner"></span>
          </div>
        </script>
      </div>
    </div>
    <div class="product-block__title-price">
      <a
        class="title"
        href="/products/c-equalz-x-tkc-tangerine-linear-switches"
      >
        C³Equalz X TKC Tangerine Linear Switches
      </a>

      <div class="price">
        <span class="amount theme-money">$11.70 </span>
      </div>
    </div>
  </div>
</div>
