{% extends 'base.html' %}
{% block title %} Home - {% endblock %}
    {% block content %}
    
    <div class="container flex mx-auto grow max-w-full justify-center items-center">
      <div class="container flex flex-auto">
        
          
            <div class="flex flex-wrap p-4 m-4 justify-center">
              <div class="w-1/5 p-4 m-4  bg-white">
                <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
                <p>test</p>
                <p>PRice: </p>
              </div>
              <div class="w-1/5  p-4 m-4  bg-white">
                <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
                <p>test</p>
                <p>PRice: </p>
              </div>
              <div class="w-1/5  p-4 m-4  bg-white">
                <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
                <p>test</p>
                <p>PRice: </p>
              </div>
              <div class="w-1/5  p-4 m-4  bg-white">
                <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
                <p>test</p>
                <p>PRice: </p>
              </div>
              <div class="w-1/5  p-4 m-4  bg-white">
                <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
                <p>test</p>
                <p>PRice: </p>
              </div>
              <div class="w-1/5  p-4 m-4  bg-white">
                <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
                <p>test</p>
                <p>PRice: </p>
              </div>
              <div class="w-1/5  p-4 m-4  bg-white">
                <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
                <p>test</p>
                <p>PRice: </p>
              </div>

          </div>
        
      </div>
    </div>
    {% endblock %}