{% extends 'base.html' %}
{% block title %} Home - {% endblock %}
    {% block content %}
    {% include 'partials/heading.html'%}
    <div class="my-6 container mx-auto grow">
      <div>
        <p class="text-3xl font-semibold">Best Sellers</p>
      </div>
    
      <div class="my-6 grid grid-cols-4 gap-4">
        <a class="p-6 bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img class="pt-0" src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
        <a class=" p-6   bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
        <a class=" p-6  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
        <a class=" p-6  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
        <a class=" p-6  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
        <a class=" p-6  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
        <a class=" p-6  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
        <a class=" p-6  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>product: something here </p>
            
            <p>$9999.99</p>
          </div>

        </a>
      </div>
      {% comment %} <div class="container mx-auto flex ">
       

             
        {% for p in products%}
        <a class="w-1/5 p-4 m-4  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>{{p.name}}</p>
            
            <p>{{p.price}}</p>
          </div>

        </a>
        {% endfor %}
        <a class="w-1/5 p-4 m-4  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>{{p.name}}</p>
            
            <p>{{p.price}}</p>
          </div>

        </a>
        <a class="w-1/5 p-4 m-4  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>{{p.name}}</p>
            
            <p>{{p.price}}</p>
          </div>

        </a>
        <a class="w-1/5 p-4 m-4  bg-white" href="{{p.get_absolute_url}}">
          <div >
            <img src="https://i.imgur.com/eOXOmIH.jpg" alt="">
            <p>{{p.name}}</p>
            
            <p>{{p.price}}</p>
          </div>

        </a>
      
    </div> {% endcomment %}
    </div>
    {% endblock %}