<div
  class="bg-cover bg-no-repeat bg-center py-16 sm:py-16 md:py-24 lg:py-32 bg-fixed"
  style="background-image: url('https://i.imgur.com/ADfZAkO.jpeg')"
>
  <div class="px-3 flex flex-col items-center mx-auto container">
    <h1 class="text-4xl sm:text-5xl md:text-6xl text-center text-white  font-medium mb-4 ">
      Best Collection of <br />
      Mechanical Switches
    </h1>
    <p class="text-white text-center text-lg ">
      We strive to bring new and interesting products to fellow typists and keyboard enthusiasts.
    </p>
    <div class="mt-6 p-6">
      <a
        href="#"
        class="bg-primary text-white  px-8 py-3 font-medium rounded-lg hover:bg-transparent hover:text-primary hover:bg-blue-800 bg-blue-700 focus:ring-blue-300 dark:bg-blue-600  focus:ring-4 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
             
        >Shop Now</a
      >
    </div>
  </div>
</div>
