<div
  class="bg-cover bg-no-repeat bg-center sm:py-16 md:py-24 lg:py-36"
  style="background-image: url('https://i.imgur.com/slcmmJR.jpg')"
>
  <div class="flex flex-col grow items-center container">
    <h1 class="text-2xl md:text-6xl text-white font-medium mb-4 capitalize">
      Best Collection of <br />
      Keyboard products
    </h1>
    <p class="text-white">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam <br />
      accusantium perspiciatis, sapiente magni eos dolorum ex quos dolores odio
    </p>
    <div class="mt-12">
      <a
        href="#"
        class="bg-primary border border-primary text-white px-8 py-3 font-medium rounded-md hover:bg-transparent hover:text-primary"
        >Shop Now</a
      >
    </div>
  </div>
</div>
